# ===============================
# OS / Editor junk
# ===============================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.swp
*.swo
*~

# ===============================
# Python general
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
.env
.venv
venv/

# ===============================
# Logs / temp
# ===============================
*.log
*.tmp

